html, body {
  margin: 0;
  padding: 0;
  zoom: 100%;
    overflow: hidden;
}
canvas {
  display: block;
}
#ui{
  background-color:white;
}
#shop{
 display: none;
}
#death{
  top: 25%;
  left: 25%;
  position: absolute;
  display: none;
  color: red;
}
.items {
  visibility: hidden;
  display: none;
}
